* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #00BCD4;

}

/*  NAV */

nav {
    position: fixed;
    width: 100%;
    padding: 20px;
}

nav img {
    height: 30px;
    width: 30px;
    padding: 5px;
    cursor: pointer;
    background-color: bisque;
    border-radius: 100%;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    transition: box-shadow .3s ease;
}

nav img:hover {
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.39);
}

/* SIDENAV */

.sidenav {
    position: fixed;
    height: 100%;
    grid-template-columns: minmax(150px, 25%);
    background-color: #B2EBF2;
    z-index: 2;
    top: 0;
    display: flex;
    flex-direction: column;
    width: 80%;
    max-width: 400px;
    overflow-y: auto;
    overflow-x: hidden;
    transition: all .3s ease;
}

.sidenav::-webkit-scrollbar {
    width: 10px;
}

.sidenav::-webkit-scrollbar-thumb {
    background: #fff;
    border-radius: 10px;
}

.sidenav>* {
    padding: 20px;
}

.sidenav #close {
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 20px;
}

/* BANNER */

.banner {
    background-color: #0099ad;
    padding: 50px 20px;
    color: bisque;
}

.banner h2 {
    margin: 20px 0;
}

.banner p {
    font-size: 16px;
}

/*  INPUT OPTIONS */

.sidenav #input-options h2 {
    margin: 20px 0;
}

.sidenav #input-options ul {
    padding: 20px 0;
}

.sidenav #input-options ul li {
    list-style: none;
    padding: 16px 0;
}

/*  MESSAGES */

#output {
    padding: 0 10px;
    padding-top: 70px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;

    max-width: 700px;
    margin: auto;

    overflow-wrap: break-word;
}

#output div {
    width: auto;
    margin: 5px;
    padding: 10px;
    border-radius: 10px;
    background-color: bisque;
    max-width: 70%;
}

#output div.user {
    align-self: flex-end;
    background-color: #DCEDC8;
}

#output div b {
    font-size: 16px;
}

#output div p {
    font-size: 18px;
}